Node Red Flow.txt
[{"id":"740378d9.2eb218","type":"ui_form","z":"a0dcc01d.16f5f","name":"","label":"","group":"f410fa79.b23f98","order":0,"width":0,"height":0,"options":[{"label":"FixedAcidity","value":"fa","type":"number","required":true},{"label":"VolatileAcidity","value":"va","type":"number","required":true},{"label":"CtricAcid","value":"ca","type":"number","required":true},{"label":"ResidualSugars","value":"rs","type":"number","required":true},{"label":"chlorides","value":"ch","type":"number","required":true},{"label":"FreeSulfurdioxid","value":"sd","type":"number","required":true},{"label":"TotalSulfurdioxid","value":"tsd","type":"number","required":true},{"label":"Density","value":"ds","type":"number","required":true},{"label":"PH","value":"ph","type":"number","required":true},{"label":"Sulphates","value":"sul","type":"number","required":true},{"label":"Alchohol","value":"alc","type":"number","required":true}],"formValue":{"fa":"","va":"","ca":"","rs":"","ch":"","sd":"","tsd":"","ds":"","ph":"","sul":"","alc":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":152,"y":279,"wires":[["c2e6a83a.978d38"]]},{"id":"c2e6a83a.978d38","type":"function","z":"a0dcc01d.16f5f","name":"parameters","func":"global.set(\"fa\",msg.payload.fa)\nglobal.set(\"va\",msg.payload.va)\nglobal.set(\"ca\",msg.payload.ca)\nglobal.set(\"rs\",msg.payload.rs)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"sd\",msg.payload.sd)\nglobal.set(\"tsd\",msg.payload.tsd)\nglobal.set(\"ds\",msg.payload.ds)\nglobal.set(\"ph\",msg.payload.ph)\nglobal.set(\"sul\",msg.payload.sul)\nglobal.set(\"alc\",msg.payload.alc)\nreturn msg;","outputs":1,"noerr":0,"x":265,"y":197,"wires":[["6b4195bb.dcfa9c"]]},{"id":"6b4195bb.dcfa9c","type":"http request","z":"a0dcc01d.16f5f","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":480,"y":128,"wires":[["ad7fee0a.038e9","1da49db8.1765c2"]]},{"id":"ad7fee0a.038e9","type":"debug","z":"a0dcc01d.16f5f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":718,"y":67,"wires":[]},{"id":"1da49db8.1765c2","type":"function","z":"a0dcc01d.16f5f","name":"prediction","func":"var token = msg.payload.token\nvar fa=global.get('fa')\nvar va=global.get('va')\nvar ca=global.get('ca')\nvar rs=global.get('rs')\nvar ch=global.get('ch')\nvar sd=global.get('sd')\nvar tsd=global.get('tsd')\nvar ds=global.get('ds')\nvar ph=global.get('ph')\nvar sul=global.get('sul')\nvar alc=global.get('alc')\nmsg.payload={\"fields\":[\"FixedAcidity\",\"VolatileAcidity\",\"CitricAcid\",\"ResidualSugar\",\"Chlorides\",\"FreeSulfurdioxide\",\"TotalSulfurdioxide\",\"Density\",\"PH\",\"Sulphates\",\"Alcohol\"],values:[[fa,va,ca,rs,ch,sd,tsd,ds,ph,sul,alc]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":733,"y":143,"wires":[["36a10f0d.bda8a"]]},{"id":"36a10f0d.bda8a","type":"http request","z":"a0dcc01d.16f5f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/46aa82f8-7152-4566-93f8-0b920059cb05/deployments/a3966747-fc25-4f01-9f94-ad029fec61ca/online","tls":"","proxy":"","authType":"basic","x":466,"y":273,"wires":[["20454a17.6154f6","728856c9.65a8f8"]]},{"id":"20454a17.6154f6","type":"debug","z":"a0dcc01d.16f5f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":741,"y":230,"wires":[]},{"id":"728856c9.65a8f8","type":"function","z":"a0dcc01d.16f5f","name":"prediction","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":739,"y":335,"wires":[["a505c3ef.ece6d"]]},{"id":"a505c3ef.ece6d","type":"ui_text_input","z":"a0dcc01d.16f5f","name":"","label":"Quality","tooltip":"","group":"f410fa79.b23f98","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":788,"y":424,"wires":[[]]},{"id":"f410fa79.b23f98","type":"ui_group","z":"","name":"Input Parameters","tab":"db173b1f.091b28","disp":true,"width":"6","collapse":false},{"id":"db173b1f.091b28","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]